@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cabinet-Grotesk';
  src: url(./fonts/Cabinet-Grotesk/CabinetGrotesk-Variable.ttf);
}

@font-face {
  font-family: 'MonumentExtended-extrabold';
  src: url(./fonts/MonumentExtended/extrabold.otf);
}

@layer utilities {
  .hero-fluid-heading {
    font-size: clamp(36px, calc(36px + 24 * ((100vw - 300px) / 102)), 60px);
  }
  .fluid-h2-48-32 {
    /* font-size: clamp(32px, calc(32px + 16 * ((100vw - 400px) / 1040)), 48px);
     */
     font-size: clamp(24px, calc(24px + 16 * ((100vw - 320px) / 704)), 40px);
    @apply font-bold leading-none tracking-normal;
  }
  .fluid-h3-24-18 {
    font-size: clamp(18px, calc(18px + 6 * ((100vw - 400px) / 1040)), 24px);
    @apply font-medium leading-none tracking-normal;
  }
  .vid-h-fluid {
    height: clamp(400px, calc(400px + (240 * ((100vw - 402px) / (1440 - 402)))), 640px);
  }
  .glowing-text {
    color: #ecc89d;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    font-size: clamp(48px, calc(48px + 40 * ((100vw - 400px) / 1040)), 88px);
  }
}

button,
button:hover {
  outline: none;
}
